asgiref==3.2.3
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
Django==3.1.9
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-crispy-forms==1.7.2
django-js-asset==1.2.2
django-registration-redux==2.7
django-widget-tweaks==1.4.5
djangocms-admin-style==1.4.0
djangorestframework==3.10.3
Faker==2.0.4
get==2019.4.13
httplib2==0.17.0
idna==2.8
lxml==4.5.0
Markdown==3.1.1
mutagen==1.43.0
Pillow==7.0.0
virtualenv==16.7.9
